<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i|Open+Sans:400,400i,600,600i,700,700i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">


</head>

<body>




    <article class="banner">
        <nav class>

            <ul class="listone">

                <li>
                    <a href="">About the series</a>
                </li>
                <li>
                    <a href="">Gallery</a>
                </li>
                <li>
                    <a href="">Store </a>
                </li>
            </ul>



            <ul class="listtwo">
                <li>
                    <a href="">Share</a>
                </li>
                <li>
                    <a href="">Follow</a>
                </li>
                <li>
                    <a href="">Sign In</a>
                </li>
            </ul>


        </nav>
        <h1 class="banner__tittle">DARK</h1>
        <h2 class="banner__subtittle">Store</h2>

    </article>


    <section class="products">
        <article class="products__filtersOne">
            <ul>
                <li><a href="/?categoria=Ambos">News</a></li>
                <li><a href="/?categoria=Mujer">Woman</a></li>
                <li><a href="/?categoria=Hombre">Man</a></li>
            </ul>
        </article>
        <article class="products__contentContainer">
            <div class="products__contentContainer__filtersTwo">
                <div class="products__contentContainer__filtersTwo__filter">
                    <li><a href="/?tipo=Ropa">Clothing</a></li>
                    <li><a href="/?tipo=Accesorio">Accesories</a></li>
                    <li><a href="">Gifts</a></li>
                </div>
                <a href="/carro">
                <button>
                    <img src="imagenes/cart.png">
                </button>
                </a>

            </div>
            <div  class="products__contentContainer__content">
            {{#each producto}}
            
                <a href="/producto/desc?name={{nombre}}">
                    <div class="products__contentContainer__content__product">
                        <div class="products__contentContainer__content__product__imgContent">
                            <img src="{{imagen}}" alt="">
                        </div>
                        <p class="products__contentContainer__content__product__name">{{nombre}}</p>
                        <p class="products__contentContainer__content__product__price">{{precio}}</p>
                    </div>
                </a>
            
            {{/each}}
            </div>
            </div>
        </article>
    </section>



    <form class="newsletter">
        <div class="newsletter__container">
            <h2 class="newsletter__container newsletter__container__tittle">
                Sign up and enter the world of DARK
            </h2>
        </div>

        <div class="newsletter__textcontainer">
            <input type="text" placeholder="Name" name="name" required>
            <input type="text" placeholder="Email address" name="mail" required>
            <label>
                <input type="checkbox" checked="checked" name="subscribe">
                By checking this box, I agree to Privacy Policy
            </label>
        </div>
        <div class="newsletter__subscribe">
            <input type="submit" value="Subscribe">
        </div>

    </form>

    <footer class="footer">
        <div class="footer__container">


            <h6 class="footer__container footer__container__tittle">DARK</h6>

            <p class="footer__container footer__container__p">See on Netflix <br>
                A mystery of three generations</p>

        </div>


    </footer>

    <script src="/js/main.js"></script>
    <script src="/js/producto.js"></script>
    <script src="/js/carro.js"></script>


</body>

</html>