
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i|Open+Sans:400,400i,600,600i,700,700i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">


</head>

<body>

<div class="specificProduct">
        <div class="specificProduct__contentPop">
            <div class="specificProduct__contentPop__imgContentSpecific">
                <img src="{{imagen}}" alt="">
            </div>
            <div class="specificProduct__contentPop__contentSpecific">
                <h4 class="specificProduct__contentPop__contentSpecific__name">
                    {{nombre}} 
                </h4>

                <h5 class="specificProduct__contentPop__contentSpecific__name">
                    Subtitle
                </h5>
                <p>
                    {{precio}}
                </p>

                <h5 class="specificProduct__contentPop__contentSpecific__name">
                    Subtitle
                </h5>

                <div class="specificProduct__contentPop__contentSpecific__container">

                    <div class="color white"></div>
                    <div class="color yellow"></div>
                    <div class="color red"></div>
                </div>

                <h5 class="specificProduct__contentPop__contentSpecific__name">
                    Subtitle
                </h5>
                <div class="specificProduct__contentPop__contentSpecific__container">

                    <div class="size"> XS </div>
                    <div class="size"> S </div>
                    <div class="size"> M </div>
                    <div class="size"> XM </div>
                </div>
                <a href="/producto/addtocart?name={{nombre}}/">
                <button>
                    Add to cart
                </button>
                </a>
            </div>
        </div>
    </div>


    <article class="banner">
        <nav class>

            <ul class="listone">

                <li>
                    <a href="">About the series</a>
                </li>
                <li>
                    <a href="">Gallery</a>
                </li>
                <li>
                    <a href="">Store </a>
                </li>
            </ul>



            <ul class="listtwo">
                <li>
                    <a href="">Share</a>
                </li>
                <li>
                    <a href="">Follow</a>
                </li>
                <li>
                    <a href="">Sign In</a>
                </li>
            </ul>


        </nav>
        <h1 class="banner__tittle">DARK</h1>
        <h2 class="banner__subtittle">Store</h2>

    </article>

   


    <section class="products">
        <article class="filtersOne">
            <ul>
                <li><a href="">News</a></li>
                <li><a href="">Woman</a></li>
                <li><a href="">Man</a></li>
                <li><a href="">Pants</a></li>
            </ul>
        </article>
        <article class="contentContainer">
            <div class="filtersTwo">
                <div class="filter">
                    <li><a href="">Clothing</a></li>
                    <li><a href="">Accesories</a></li>
                    <li><a href="">Gifts</a></li>
                </div>
                <button>
                    Add to cart
                </button>

            </div>
            <div class="content">
                <a href="/producto">
                    <div class="product">
                        <div class="imgContent">
                        </div>
                        <p class="name">
                            Nombre Camisa
                        </p>
                        <p class="price">
                            $00000
                        </p>
                    </div>
                </a>

                </div>
            </div>
        </article>
    </section>



    <form class="newsletter">
        <div class="newsletter__container">
            <h2 class="newsletter__container newsletter__container__tittle">
                Sign up and enter the world of DARK
            </h2>
        </div>

        <div class="newsletter__textcontainer">
            <input type="text" placeholder="Name" name="name" required>
            <input type="text" placeholder="Email address" name="mail" required>
            <label>
                <input type="checkbox" checked="checked" name="subscribe">
                By checking this box, I agree to Privacy Policy
            </label>
        </div>
        <div class="newsletter__subscribe">
            <input type="submit" value="Subscribe">
        </div>

    </form>

    <footer class="footer">
        <div class="footer__container">


            <h6 class="footer__container footer__container__tittle">DARK</h6>

            <p class="footer__container footer__container__p">See on Netflix <br>
                A mystery of three generations</p>

        </div>


    </footer>

    <script src="../js/main.js"></script>

</body>



</html>