body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 100%;
}

.banner {
  font-family: "Montserrat";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55vw;
  background-image: url(../imagenes/image-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.banner__tittle {
  color: white;
  font-size: 80px;
  font-weight: normal;
  opacity: 90%;
  padding-top: 40%;
  margin: 0;
  text-align: center;
  letter-spacing: 80px;
}

@media only screen and (max-width: 1000px) and (min-width: 200px) {
  .banner__tittle {
    font-size: 30px;
  }
}

.banner nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner nav li {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0 0 30px 30px;
  padding-right: 20px;
  padding-top: 50px;
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
}

.banner nav a {
  color: white;
  -webkit-text-decoration: white;
          text-decoration: white;
}

.banner nav .listone {
  float: left;
  padding-right: 4%;
}

.banner nav .listtwo {
  float: right;
  padding-right: 4%;
}

.banner__subtittle {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 90%;
  padding-top: 2.5%;
  margin: 0;
  text-align: center;
  text-align: center;
}

* {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  list-style: none;
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.products__filtersOne {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 9%;
  font-size: 15px;
}

.products__filtersOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.products__filtersOne ul li {
  margin: 20px 0;
}

.products__contentContainer {
  width: 100%;
  height: auto;
}

.products__contentContainer__filtersTwo {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products__contentContainer__filtersTwo__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__contentContainer__filtersTwo__filter li {
  font-size: 15px;
  margin: 0 60px;
  padding-top: 70px;
}

.products__contentContainer__filtersTwo button {
  margin-top: 60px;
  padding-top: 20px;
  background: white;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 10px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
}

.products__contentContainer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 5%;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__contentContainer__content a {
  width: 33%;
}

.products__contentContainer__content__product {
  padding: 3%;
  width: 90%;
  margin: 10px;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.products__contentContainer__content__product__imgContent {
  width: 100%;
  border-radius: 5px;
}

.products__contentContainer__content__product__imgContent img {
  width: 100%;
}

.products__contentContainer__content__product__name {
  font-weight: bold;
  font-size: 15px;
}

.products__contentContainer__content__product__price {
  margin: -15px;
  font-weight: 300;
  font-size: 15px;
}

.specificProduct {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.9);
}

.specificProduct__contentPop {
  background: white;
  width: 90%;
  max-width: 900px;
  max-height: 800px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.specificProduct__contentPop__imgContentSpecific {
  padding: 0%;
  margin: 0%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 50%;
}

.specificProduct__contentPop__imgContentSpecific img {
  width: 100%;
  height: auto;
}

.specificProduct__contentPop__contentSpecific {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.specificProduct__contentPop__contentSpecific h4 {
  font-weight: bold;
  font-size: 25px;
}

.specificProduct__contentPop__contentSpecific h5 {
  font-weight: 400;
  font-weight: 600;
  margin-top: 20px;
  color: black;
  font-size: 16px;
}

.specificProduct__contentPop__contentSpecific h6 {
  font-weight: 400;
  margin-top: 20px;
  color: gray;
  font-size: 14px;
}

.specificProduct__contentPop__contentSpecific__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specificProduct__contentPop__contentSpecific .color {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 5px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.specificProduct__contentPop__contentSpecific .color:hover {
  border: solid gray 5px;
}

.specificProduct__contentPop__contentSpecific .white {
  border: solid gray 1px;
  background: white;
}

.specificProduct__contentPop__contentSpecific .yellow {
  background: #612147;
}

.specificProduct__contentPop__contentSpecific .red {
  background: #7dd8c7;
}

.specificProduct__contentPop__contentSpecific .size {
  border: solid black 1px;
  padding: 2px 5px;
  background: white;
  margin: 5px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  cursor: pointer;
  font-size: 18px;
}

.specificProduct__contentPop__contentSpecific .size:hover {
  background: rgba(0, 0, 0, 0.5);
}

.specificProduct__contentPop__contentSpecific a {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specificProduct__contentPop__contentSpecific button {
  margin-top: 20px;
  background: black;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.cartProducts {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin-top: 0%;
  margin: 0%;
}

.cartProducts__cartProducts__mens {
  color: black;
  font-size: 20px;
  text-align: center;
}

.cartProducts__mens {
  font-size: 16px;
  padding: 30px;
}

.buy {
  background: white;
  margin: 0%;
  padding: 0;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.buy button {
  margin-top: 20px;
  margin: 30px;
  background: black;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  justify-items: center;
}

.formulario {
  height: 100vh;
  background-color: white;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 100%;
}

.formulario input[type=text],
.formulario input[type=submit] {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formulario input[type=checkbox] {
  margin-top: 16px;
}

.formulario label {
  font-size: 16px;
  display: inherit;
}

.formulario img {
  margin-top: 20px;
}

.formulario button {
  margin-top: 20px;
  background: black;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  justify-items: center;
}

.newsletter {
  border: 4px solid #090909;
  background-color: #090909;
  padding-top: 10%;
}

.newsletter__container {
  border-style: none;
}

.newsletter__container__tittle {
  background-color: #090909;
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  padding-top: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 40px;
}

.newsletter__textcontainer {
  background-color: #090909;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  color: white;
  font-size: 16px;
  border-style: none;
}

.newsletter__textcontainer input[type=text],
.newsletter__textcontainer input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter__textcontainer input[type=checkbox] {
  margin-top: 16px;
}

.newsletter__subscribe {
  background-color: #090909;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  border-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.newsletter__subscribe input[type=submit] {
  background-color: white;
  color: black;
  border: none;
  font-size: 20px;
}

.newsletter__subscribe input[type=submit]:hover {
  opacity: 0.8;
}

.footer {
  height: 100px;
  background-color: #090909;
  padding: 5%;
  margin: 0;
}

.footer__container__tittle {
  font-size: 20px;
  color: white;
  font-weight: 100;
  letter-spacing: 20px;
}

.footer__container__text {
  font-size: 20px;
  color: white;
  font-weight: 100;
  letter-spacing: 20px;
}

.footer__container__p {
  font-size: 15px;
  color: white;
  font-weight: 100;
  font-style: italic;
}

.cartProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  padding: 3%;
  width: 20%;
  margin: 10px;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
}

.product__imgContent {
  width: 100%;
  border-radius: 5px;
}

.product__imgContent img {
  width: 100%;
}

.product__name {
  font-weight: bold;
  font-size: 15px;
}

.product__price {
  margin: -15px;
  font-weight: 300;
  font-size: 15px;
}
/*# sourceMappingURL=styles.css.map */